@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700);

body {
background: url("../images/Creative-graphic-design.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1 {
	padding-top: 1em;
    padding-right: 6em;
	color: gray;
	background-color:transparent;
	font-family: 'Josefin', sans-serif;
	font-size: 1.5em;
	font-weight:700;
	text-align:right;
	}
p 	{
    @import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
	padding-top: 20px;
    padding-right: 12em;
	color: gray;
	background-color:transparent;
	font-family: 'Josefin', Arial, sans-serif;
	font-size: .75em;
	font-weight:light;
	line-height:150%;
	text-align:right;
	text-decoration: none;
	}
