@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700);

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
    display: center;
}

section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
	
section img {
	display: block; 
} 

h1 {
	color: gray;
	background-color:transparent;
	font-family: 'Josefin', sans-serif;
	font-size: 1em;
	font-height: 150%;
	font-weight:400;
	text-align:center;
	}
footer 	{
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	color: gray;
	font-family: 'Josefin', sans-serif;
	font-size: .75em;
	font-weight:400;
	text-align:center;
	text-decoration: none;
	}